/* Navbar General */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: url('https://media.istockphoto.com/id/1413630345/vector/illustration-of-flying-american-flag-memorial-day-or-constitution-day-of-united-states.jpg?s=612x612&w=0&k=20&c=9gakpue4Kksgin5HIDPhB_Y-AADbO5LDzPNaTSX20MU=') no-repeat center center; /* Imagen de fondo */
    background-size: cover;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    width: 40px;
    margin-right: 15px;
}

.navbar-logo h1 {
    font-size: 22px;
    color: #1133aa; /* Color azul más profesional */
    font-family: 'Poppins', sans-serif; /* Fuente moderna */
    font-weight: 600;
}

.navbar-menu {
    display: flex;
    list-style: none;
}

.navbar-menu li {
    margin-left: 20px;
}

.navbar-menu li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif; /* Fuente moderna */
    position: relative;
    padding: 8px 12px;
    transition: color 0.3s ease;
}

.navbar-menu li a:hover {
    color: #ffcc00; /* Efecto de hover */
}

.navbar-menu li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ffcc00; /* Subrayado */
    transition: width 0.3s ease;
}

.navbar-menu li a:hover::after {
    width: 100%;
}

/* Estilos para móviles */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 4px 0;
}

/* Navbar Responsive */
@media (max-width: 768px) {
    .navbar-menu {
        position: absolute;
        top: 60px;
        left: -100%;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(10px);
        width: 100%;
        text-align: center;
        transition: left 0.3s ease;
    }

    .navbar-menu.open {
        left: 0;
    }

    .navbar-menu li {
        margin: 15px 0;
    }

    .hamburger {
        display: flex;
    }
}
